text-color-3 = #333
text-color-6 = #666
text-color-9 = #999
text-color-ccc = #ccc
text-color-title = #FE8105
text-color-primary = #FFC602

text-color-primary = #E0C275
sku-border-select = #E7BC79
sku-border-normal = #F7F9FB
bg-color-pri = #F86C09
border-color = #CFCFCF
